<h1> Edit prompt </h1>
<div class="row">
  <%= form_for(@prompt) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :value => @prompt.title %>

    <%= f.label :company %>
    <%= f.text_field :company, :value => @prompt.company %>

    <%= f.label :due_date %>
    <%= f.datetime_select :due_date, :value => @prompt.due_date %>

    <%= f.label :location %>
    <%= f.text_field :location, :value => @prompt.location %>

    <%= f.label :content %>
    <%= f.text_area :content, :value => @prompt.content %>

    <div class="submit_button">
        <%= f.submit "Update prompt",
            class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>