<h1> Create prompt </h1>
<div class="row">
  <%= form_for(@prompt) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :company %>
    <%= f.text_field :company %>

    <%= f.label :due_date %>
    <%= f.text_field :due_date %>

    <%= f.label :content %>
    <%= f.text_area :content %>

    <div class="submit_button">
        <%= f.submit "Create prompt",
            class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>