<h1> Update contact </h1>
<div class="row">
  <h2><%= @contact.user.name %> </h2>
  <h3><%= @contact.user.company %></h3>
  <h3><%= @contact.user.current_location %></h3>
  <h3><%= @contact.user.phone_number %></h3>
  <h3><%= @contact.user.school %></h3>
</div>
<div class="row">
  <%= form_for(@contact) do |f| %>
    <%= f.label :interest_tags %>
    <%= f.text_area :interest_tags %>

    <%= f.label :notes %>
    <%= f.text_area :notes %>

    <%= f.submit "Update contact",
        class: "btn btn-large btn-primary" %>
  <% end %>
</div>