<!--This page is currently only for a user who wants to create a new Ghost Contact-->

<h1>Create new contact</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :company %>
  <%= f.text_field :company %>

  <%= f.label :school %>
  <%= f.text_field :school %>

  <%= f.label :current_location %>
  <%= f.text_field :current_location %>

  <%= hidden_field :ghost_user, @user.ghost_user => true %>

  <%= f.submit "Create contact", class: "btn btn-large" %>

<% end %>